{% extends "base_podcast.html" %}

{% block page_title %} About TechMe2.eu {% endblock %}
{% block header %}<a href="/"><img src="/img/logo_transparent.png"></a> About {% endblock %}
{% block menu %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/startups/interviews/map/">Interviews Map</a></li>
        </ul>
{% endblock %}


{% block content %}
Hi,

<p>This is Ben, founder of this site... <br /> My official name is Benoit Curdy, but as even my mother calls me 
Ben, you don't really need to try pronoucing it. When I’m not having fun meeting people and chatting
about startups and technology, I’m working at Google Ireland as a computational linguist,
which is pretty sweet too.</p>

<p>As you probably noticed, Techme2.eu is a podcast that takes you to web startups and web entrepreneurs all over Europe.
Hence the name, which means "Take Me 2 European Startups". Sure, a pun never makes a great name but I'll stick to it anyway.
The site was founded in April 2010 and things are going well :) </p>

<p>Whereas many European blogs around technology are focused on real-time news and venture capital,
TechMe2 aims to be a place where we take the time to discuss the day to day hurdles and opportunities
of an entrepreneur in a given European country. If you think this is less glamorous than speaking about money,
think again!  Raising money, exiting or joining the deadpool is a result. 
Here, you’ll learn about the process and this is where the magic happens.</p>

<p>To make sure you won't miss any interview, you can subscribe to my RSS feed or the iTunes stream.
In any case, don’t hesitate a second to ask questions or to correct something I said or a guest said.
We're here to learne and to debate. So go ahead, share with us your passion for startups! </p>

<p><b>Obvious but important disclaimer</b>
This is my personal website. The views expressed on these pages are mine alone and not those of my employer
(Honestly… I’m a computational linguist in Ireland, how on earth could anyone think that I speak for Google ?)
</p>
{% endblock %}