{% extends "base_podcast.html" %}

{% block page_title %} About TechMe2.eu {% endblock %}
{% block header %}<a href="/"><img src="/img/logo_transparent.png"></a> About {% endblock %}


{% block content %}
<h1>About TechMe2.eu</h1>
Techme2.eu is a podcast that takes you to web startups all over Europe. Hence the name, which means  "Take Me 2 Europe" (yes, puns can make legendary
site names!). Week after week, you'll meet here the best European web entrepreneurs who will discuss their projects as well as the startups scene from where
they live.</p>

<p>TechMe2 has 2 goals:
<ul>
<li>First one is to act as a place where European entrepreneurs share their knowledge so that others, from anywhere in the world, can learn.</li>
<li>Second one is to show that there's a lot of exciting projects happening in Europe. You can send anybody whining
about not having a Silicon Valley in the EU zone right here.</li>
</ul>

<p>The site was founded in April 2010 and things are going well :) Whereas many European blogs around technology are focused on real-time
news and venture capital, TechMe2 aims to highlight the day-to-day hurdles and opportunities of European entrepreneurs.
If you think this is less glamorous than speaking about money, think again!  Raising money, exiting or joining the deadpool is a result. 
Here, you’ll learn about the process and this is where the magic happens.</p>

<p>Don't feel excluded if you live outside Europe! Entrepreneurship knows no border, it has no nationality. Any input is welcome, wherever you live
and independently of your level of experience in building companies.  Don’t hesitate to ask questions or to correct something said during the show by the host 
or by a guest. We're here to learn and to debate. Share with us your passion for startups!</p>

<p>In order not to miss any interview, make sure to subscribe to our RSS feed or our iTunes stream.</p>

<h1>About the host</h1>
<p>My name is Benoit Curdy, but everybody - including my mother - calls me Ben. So you don't really need to try pronouncing Benoit if you don't speak French ;) Now, in case you'd 
like trying, it would be something close to [benwa] with the stress on the last syllable. I was born and raised in Switzlerland but haven't lived there for a few years...</p>

<p>When I’m not meeting entrepreneurs and talking about startups, I’m working at Google Ireland as a computational linguist. This has nothing to do with translation,
it's more like using statistics and machine learning to work on different languages. Mixing computers and human languages is 
one of the best idea I ever had, it's a lot of fun although nobody really understands <a href="http://xkcd.com/114/" target="_blank" id="nav">what it is we do exactly.</a></p>

<p><i>Obvious but important disclaimer</i>
This is my personal website. The views expressed on these pages are mine alone and not those of my employer.
</p>
{% endblock %}