<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Content-Language" content="en-us" /> 
    <link href="/css/podcast.css" type="text/css" rel="stylesheet"></link>
    <link href=' http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load jQuery and jQueryUi
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8.2");
    </script>
    {% block jplayer_head %} {% endblock %}   
    <title>{% block page_title %}European Startups{% endblock %}</title>
  </head>
 
  <body>
    <div id="header">
      {% block header %}<img src="/img/logo_transparent.png"> <b>European Startups</b>{% endblock %}
    </div>
    <div id="wrap">
    
      <div id="nav">
      {% block menu %}
        <ul>
          <li><a href="/">Home 1</a></li>
        </ul>
      {% endblock %}
      </div>

      <div id="post">
        <h1>{% block post_title %} {% endblock %}</h1>
        <div id="details">{% block date_comments %} {% endblock %}</div>
        <center> {% block jplayer_body %} {% endblock %} </center>
        {% autoescape off %}
      <div id="content">
          {% block content %} {% endblock %}
      </div>
        {% endautoescape %}
      {% block load_more %} {% endblock %}
        {% block comments %} {% endblock %}
     </div>
     <div id="sidebar">
        <span id="social"><center><p>Subscribe</p><center></span>
        <img src="/img/rss-57.png">
        <a href="http://itunes.apple.com/us/podcast/european-startups-news/id371305522" target="_blank">
          <img src="/img/itunes-57.png"></a>
        <br>
       <span id="social"><p>Get in touch!</p><center></span>
        <a href="http://twitter.com/bcurdy" target="_blank"><img src="/img/twitter-57.png"><a>
        <a href="http://www.facebook.com/pages/TechMe2eu/116638375022050">
          <img src="/img/facebook-57.png"></a>
        <br>
      </div>
      
      <div id="footer">
        <div id="nav">
        <ul>
          <li>About</li>
          <li> - </li>
          <li>Contact</li>
      </div>			
    </div>
    {% block disqus %} {% endblock %}
  </body>
</html>
