<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Content-Language" content="en-us" /> 
	<meta name="google-site-verification" content="NBfaBdhUupDpx18hixJt-0PxgkTuva1vjkh5uWZNVXQ" />
    <link href="/css/podcast.css" type="text/css" rel="stylesheet"></link>
    <link href=' http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'></link>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load jQuery and jQueryUi
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8.2");
    </script>

<!-- Social buttons, black and white to color -->    
    <script type='text/javascript'>
    $(document).ready(function(){
    $("img.a").hover(
      function() {
      $(this).stop().animate({"opacity": "0"}, "slow");
      },
     function() {
     $(this).stop().animate({"opacity": "1"}, "slow"); 
     });
     });
  </script>

<!-- Different scripts, block used by other scripts as placeholder -->
    {% block jplayer_head %} {% endblock %}   
    <title>{% block page_title %}European Startups{% endblock %}</title>

<!-- Google Analytics -->    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15785924-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>
 
  <body>
    <div id="header">
      {% block header %}<img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/logo_transparent.png"
      width="193" height="28" />
      <b>European Startups</b>{% endblock %}
    </div>
    <div id="wrap">
    
      <div id="nav">
      {% block menu %}
         <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About this podcast</a></li>
          <li><a href="/startups/interviews/map/" style="padding-right: 250px;">Interviews Map</a></li>
           <li>
                 <span class="fadehover"> 
                  <a href="http://feeds.feedburner.com/techme2" target="_blank">
                  <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/rss-32-bw.png"
                       width="32" height="32" class="a">
                  <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/rss-32.png"
                       width="32" height="32" class="b">
                  </a>
                </span>
              </li>
              <li>
               <span class="fadehover"> 
                  <a href="http://itunes.apple.com/us/podcast/european-startups-news/id371305522" target="_blank">
                  <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/itunes-32-bw.png"
                       width="32" height="32" class="a">
                  <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/itunes-32.png"
                       width="32" height="32" class="b">
                  </a>
                </span>
            </li>
            <li>
              <span class="fadehover"> 
                   <a href="http://twitter.com/bcurdy" target="_blank">
                   <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/twitter-32-bw.png"
                        width="32" height="32" class="a">                   
                   <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/twitter-32.png"
                        width="32" height="32" class="b">
                   </a>
              </span>
             </li>
            <li>          
                  <span class="fadehover"> 
                     <a href="http://www.facebook.com/pages/TechMe2eu/116638375022050">
                     <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/facebook-32-bw.png"
                          width="32" height="32" class="a">
                     <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/facebook-32.png"
                          width="32" height="32" class="b"></a>
                  </span>
              </li>
              <li>
                  <span class="fadehover"> 
                      <a href="http://flattr.com/thing/33085/A-Tour-Of-The-European-Startups-Scene" target="_blank">
                      <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/button-compact-static-100x32-bw.png"
                              width="100" height="32" alt="Flattr this" title="Flattr this" border="0"  class="a"/>
                      <img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/button-compact-static-100x32.png"
                              width="100" height="32" alt="Flattr this" title="Flattr this" border="0"  class="b"/></a>
                  </span>
              </li>
        </ul>
      {% endblock %}
      </div>
      
     
      <div id="post">
        <h1>{% block post_title %} {% endblock %}</h1>
        <div id="details">{% block date_comments %} {% endblock %}</div>
        <center> {% block jplayer_body %} {% endblock %} </center>
        {% autoescape off %}
      <div id="content">
          {% block content %} {% endblock %}
      </div>
        {% endautoescape %}
       {% block load_more %} {% endblock %}
        {% block comments %} {% endblock %}
      
      {% block footer %}
      <div id="footer">
        <div id = "nav">
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li>
              <form action="/search/" method="post" style="display: inline;">
              <input type="text" name="q" />
              <input type="submit" name="search" value="Search" />
             </form>
           </li>
         </div>
       </div>
    </div>
    {% endblock %}
    {% block disqus %} {% endblock %}
  </body>
</html>
