{% extends "base_podcast.html" %}

{% block jplayer_head %}
<link href="/css/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />     
<script type="text/javascript" src="/scripts/jquery.jplayer.min.js"></script>
<script type="text/javascript"> 
<!--
$(document).ready(function(){
 
	// Local copy of jQuery selectors, for performance.
	var jpPlayTime = $("#jplayer_play_time");
	var jpTotalTime = $("#jplayer_total_time");
 
	$("#jquery_jplayer").jPlayer({
		ready: function () {
			this.element.jPlayer("setFile", "{{episode.mp3}}");
		},
		volume: 50,
		oggSupport: false,
		preload: 'none'
	})
	.jPlayer("onProgressChange", function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
		jpPlayTime.text($.jPlayer.convertTime(playedTime));
		jpTotalTime.text($.jPlayer.convertTime(totalTime));
	})
	.jPlayer("onSoundComplete", function() {
		this.element.jPlayer("play");
	});
});
-->
</script>
{% endblock %}

{% block jplayer_body %}
<div id="jquery_jplayer"></div> 
 
<div class="jp-single-player"> 
	<div class="jp-interface"> 
		<ul class="jp-controls"> 
			<li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li> 
			<li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li> 
			<li><a href="#" id="jplayer_stop" class="jp-stop" tabindex="1">stop</a></li> 
			<li><a href="#" id="jplayer_volume_min" class="jp-volume-min" tabindex="1">min volume</a></li> 
			<li><a href="#" id="jplayer_volume_max" class="jp-volume-max" tabindex="1">max volume</a></li> 
		</ul> 
		<div class="jp-progress"> 
			<div id="jplayer_load_bar" class="jp-load-bar"> 
				<div id="jplayer_play_bar" class="jp-play-bar"></div> 
			</div> 
		</div> 
		<div id="jplayer_volume_bar" class="jp-volume-bar"> 
			<div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div> 
		</div> 
		<div id="jplayer_play_time" class="jp-play-time"></div> 
		<div id="jplayer_total_time" class="jp-total-time"></div> 
	</div> 
	<div id="jplayer_playlist" class="jp-playlist"> 
		<ul> 
			<li><a href="{{episode.mp3}}" target="_blank">Download</a> (right click)</li> 
		</ul> 
	</div> 
</div> 
{% endblock %}

{% block page_title %} European Startups - {{episode.title}} {% endblock %}
{% block header %}<img src="/img/logo_transparent.png"> {{episode.organization}} {% endblock %}
{% block menu %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Option 2</a></li>
        </ul>
      </div>
{% endblock %}

{% block post_title %} {{episode.title}} {% endblock %}
{% block content %}  {{episode.interview_notes}} {% endblock %}
