{% extends "base_podcast.html" %}

{% block page_title %} European Startups - {{episode.title}} {% endblock %}
{% block header %}<a href="/"><img src="/img/logo_transparent.png"></a>{{episode.organization}} {% endblock %}
{% block menu %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/startups/interviews/map/">Interviews Map</a></li>
        </ul>
{% endblock %}

{% block post_title %} {{episode.title}} {% endblock %}
{% block date_comments %} {{episode.published_on}} - <a href="/startups/{{episode.slug}}/#disqus_thread">Comments</a> {% endblock %}
{% block content %}  {{episode.interview_notes}} {% endblock %}



<!-- SCRIPTS -->

<!-- JPlayer + AddToAny -->
{% block jplayer_head %}
<link href="/css/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />     
<script type="text/javascript" src="/scripts/jquery.jplayer.min.js"></script>
<script type="text/javascript"> 
<!--
$(document).ready(function(){
 
	// Local copy of jQuery selectors, for performance.
	var jpPlayTime = $("#jplayer_play_time");
	var jpTotalTime = $("#jplayer_total_time");
 
	$("#jquery_jplayer").jPlayer({
		ready: function () {
			this.element.jPlayer("setFile", "{{episode.mp3}}");
		},
		volume: 50,
		oggSupport: false,
		preload: 'none'
	})
	.jPlayer("onProgressChange", function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
		jpPlayTime.text($.jPlayer.convertTime(playedTime));
		jpTotalTime.text($.jPlayer.convertTime(totalTime));
	})
	.jPlayer("onSoundComplete", function() {
		this.element.jPlayer("play");
	});
});
-->
</script>
{% endblock %}

{% block jplayer_body %}
<div id="jquery_jplayer"></div> 
 
<div class="jp-single-player"> 
	<div class="jp-interface"> 
		<ul class="jp-controls"> 
			<li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li> 
			<li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li> 
			<li><a href="#" id="jplayer_stop" class="jp-stop" tabindex="1">stop</a></li> 
			<li><a href="#" id="jplayer_volume_min" class="jp-volume-min" tabindex="1">min volume</a></li> 
			<li><a href="#" id="jplayer_volume_max" class="jp-volume-max" tabindex="1">max volume</a></li> 
		</ul> 
		<div class="jp-progress"> 
			<div id="jplayer_load_bar" class="jp-load-bar"> 
				<div id="jplayer_play_bar" class="jp-play-bar"></div> 
			</div> 
		</div> 
		<div id="jplayer_volume_bar" class="jp-volume-bar"> 
			<div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div> 
		</div> 
		<div id="jplayer_play_time" class="jp-play-time"></div> 
		<div id="jplayer_total_time" class="jp-total-time"></div> 
	</div> 
	<div id="jplayer_playlist" class="jp-playlist"> 
		<ul> 
			<li><a href="{{episode.mp3}}" target="_blank">Download</a> (right click)</li> 
		</ul> 
	</div> 
	<!-- AddToAny BEGIN -->
    <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Ftechme2-eu.appspot.com&amp;linkname=European%20Startups"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Bookmark"/></a>
    <script type="text/javascript">
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "European Startups";
    a2a_config.num_services = 6;
    a2a_config.color_main = "#357EC7";
    a2a_config.color_border = "AECADB";
    a2a_config.color_link_text = "333333";
    a2a_config.color_link_text_hover = "333333";
    a2a_config.color_arrow_hover = "fff";
    a2a_config.prioritize = ["twitter", "facebook", "digg", "delicious", "stumbleupon", "reddit"];
    </script>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</div> 
{% endblock %}


<!-- Comments via Disqus -->
{% block comments %} 
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://europeanstartups.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=europeanstartups">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}

{% block disqus %}
<script type="text/javascript">
var disqus_shortname = 'europeanstartups';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/europeanstartups/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}

