  {% extends "base_podcast.html" %}
  
{% block page_title %} Be a guest {% endblock %}
{% block header %}<a href="/"><img src="http://s3-eu-west-1.amazonaws.com/european-startups/images/logo_transparent.png"></a> Be a guest{% endblock %}
  
  {% block content %}
  <div>Hi,</div> <br />
  <div align="justify">
    This is the page I send to people I'd like to interview because I think they're great European creators, entrepreneurs and/or technologists.
     Note that if I haven't invited you yet, you're still welcome to read this document and  <a href="contact/" target="_blank">send me</a> comments or suggestions :)
  </div>

  <br>

  <b>What's TechMe2 ?</b><br>

  <div align="justify">
    You'll find more details on the <a href="about/" target="_blank">"About"</a> section of the site but in a nutshell, TechMe2.eu is a podcast around web technologies and innovation in Europe.
    It has been started by Benoit Curdy (Computational Linguist at Google Ireland) in April 2010 and focuses on interviewing inspiring European entrepreneurs and/or technologists such as... yourself.
  </div>

  <br>
  
  <div>
    <b>About the interview</b>
  </div>

  <div>
    An interview for TechMe2 has 5 parts and last between 20 and 40 minutes.&nbsp;
  </div>

  <ol>
    <li>First, to get us started, I'll state the reasons why I think you make a great guest (2 min)</li>
    <li> This is followed by a pitch during which you explain to us the core of your business and its future (good old elevator pitch) (2 min)</li>
    <li>We'll then discuss more in details some aspect of your idea, its impact and if you're technical, some of the technology behind it (nothing too deep) (10 min) </li>
    <li>After this, we'll go to a description of the startup scene of your country/city and your feeling about it (positive/negative) (5 min) </li>
    <li>We'll close with the name of one or 2 European people you personally know who would be good guests for this podcast (1 min)
    </li>
  </ol>

  <div align="justify">
    Interviews are always in English. As most guests won't be native English speakers though, I will edit it where needed (in case of hesitations, mispronunciation,.., ) So don't be afraid to make mistakes!
  </div>

  <br>

  <div>
    <b>What Do I need ?</b>
  </div>

  <ul>
    <li> A link to your CV always help</li>
    <li> A page presenting your company</li>
    <li> All your publicly available social networks (Twitter &amp; co)</li>
  </ul>

  <br>

  <div>
    <b>What do you need ?</b>
  </div>

  <ul>
    <li>Skype</li>
    <li>A headset so we optimize sound quality </li>
    <li>A good internet connection   </li>
  </ul>
That's it :)
</div>
{% endblock %}

{% block footer %} {% endblock %}
