{% extends "base_podcast.html" %}

{% block page_title %} {{page_title}} {% endblock %}
{% block post_title %} {{post_title}} {% endblock%}
{% block header %}<img src="/img/logo_transparent.png"> <b>Discover European Startups</b>{% endblock %}
{% block menu %}
        <ul>
          <li><a href="/startups/interviews/map/">Interviews Map</a></li>
        </ul>
{% endblock %}

{% block content %} 
  {% for episode in episodes %}
     {% if not episode.is_draft %}
        {{episode.published_on}} - <a href="/startups/{{episode.slug }}">{{ episode.title }}</a><br>
        <p id="short_description"> {{episode.short_description}} </p>       
     {% endif %}
  {% endfor %}
{% endblock %}

{% block load_more %}
    {% for page in pages %}
      {% ifequal page 1 %}
      <input type="button" id="{{page}}" class="my_button" name="More" value="{{page}}" disabled="disabled" />
      {% else %}
      <input type="button" id="{{page}}" class="my_button" name="More" value="{{page}}" />    
      {% endifequal %}
      
    {% endfor %}

{% endblock %}    

{% block jplayer_head %}

<script type="text/javascript">
    $(document).ready(function() {
      $('.my_button').click(function() {
        $('#content').load("/more/"+$(this).val());
        $('.my_button').attr("disabled", false);
        $('#'+$(this).val()).attr("disabled", true);
      });
    });

</script>  
{% endblock %}